[submodule "Thirdparty/pybind11"]
	path = Thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Thirdparty/pybind11_opencv_numpy"]
	path = Thirdparty/pybind11_opencv_numpy
	url = ../../edmBernard/pybind11_opencv_numpy
